log/*
.cask/*
eshell/lastdir
eshell/history
recentf
url/*
/.hl-save
/ensime
*.elc
.cache/

straight/repos
straight/build
straight/build-cache.el
network-security.data
projects
transient/
.lsp-session-v1
.mc-lists.el
.dap-breakpoints